<div class="touu">
    <div class="nav">
        <div class="con">
            <div class="top">
                <div class="left">
                    <span class="title">山东优研生物科技有限公司</span>
                    <span class="jianjie">您身边的试剂超市 | 品牌试剂一站式购买</span>
                </div>
                <div class="right">
                    <div class="kuang">
                        <img src="@/assets/my/sousuo.png" alt="" />
                        <input type="text" placeholder="可输入CAS号、中文名、英文名等检索" />
                        <span @click="gosearch">搜索</span>
                    </div>
                    <div class="car">
                        <img src="@/assets/my/shopcar.png" alt="" />
                        <span @click="this.$router.push({path: '/shopcar/shopcar'})">我的购物车</span>
                        <span class="num">0</span>
                    </div>
                </div>
            </div>

            <div class="dibu">
                <div class="fenlei">
                    <img src="@/assets/my/fenlei.png" alt="" />
                    <span>全部商品分类</span>
                </div>
                <ul class="daohang">
                    <li class='lan'>首页</li>
                    <li class=''>网站公告</li>
                    <li class=''>积分商城</li>
                    <li class=''>合作品牌</li>
                    <li class=''>促销产品</li>
                    <li class=''>化合物定制</li>
                    <li class=''>试剂知识</li>
                    <li class=''>联系我们</li>
                </ul>

            </div>
        </div>
    </div>
</div>