<div class="touu">
    <div class="nav">
        <div class="con">
            <div class="top">
                <div class="left">
                    <span class="title">山东优研生物科技有限公司</span>
                    <span class="jianjie">您身边的试剂超市 | 品牌试剂一站式购买</span>
                </div>
                <div class="right">
                    <div class="kuang">
                        <img src="__CDN__/assets/index/img/sousuo.png" alt="" />
                        <input type="text" placeholder="可输入CAS号、中文名、英文名等检索" />
                        <span @click="gosearch">搜索</span>
                    </div>
                    <div class="car">
                        <img src="__CDN__/assets/index/img/shopcar.png" alt="" />
                        <span @click="this.$router.push({path: '/shopcar/shopcar'})">我的购物车</span>
                        <span class="num">0</span>
                    </div>
                </div>
            </div>

            <div class="dibu">
                <div class="fenlei">
                    <img src="__CDN__/assets/index/img/fenlei.png" alt="" />
                    <span>全部商品分类</span>
                    <div class="navlist">
                        <div class="one">哈喽
                            <div class="two">
                                <div class="classification">
                                    <div class="zuo">催化剂</div>
                                    <div class="you"><span>| 贵金属催化剂</span>
                                        <span>| 相转移催化剂</span>
                                        <span>| 膦钯类催化剂及配</span>
                                        <span>| 体金属催化剂</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="one">哈喽</div>
                        <div class="one">哈喽</div>
                        <div class="one">哈喽</div>
                        <div class="one">哈喽</div>
                    </div>
                </div>
                <ul class="daohang">
                    <li class='lan'>首页</li>
                    <li class=''>网站公告</li>
                    <li class=''>积分商城</li>
                    <li class=''>合作品牌</li>
                    <li class=''>促销产品</li>
                    <li class=''>化合物定制</li>
                    <li class=''>试剂知识</li>
                    <li class=''>联系我们</li>
                </ul>

            </div>
        </div>
    </div>
</div>