<div class="rightt">
    <ul>
        <li><img src="__CDN__/assets/index/img/baicar.png" alt="" /><span>购物车</span></li>
        <li class="out" id="outqq">
            <img src="__CDN__/assets/index/img/baiq.png" alt="" /><span>QQ</span>
        </li>
        <li @click="gocenter">
            <img src="__CDN__/assets/index/img/bairen.png" alt="" /><span>个人中心</span>
        </li>
        <li @click="gotop">
            <img src="__CDN__/assets/index/img/baitop.png" alt="" /><span>置顶</span>
        </li>
    </ul>
    <div class="qq">
        <div class="list">
            <div class="title">
                <img src="__CDN__/assets/index/img/qq.png" alt="" /><span>QQ交谈</span>
            </div>
            <span class="name"> 艾米</span>
            <span class="num">456245621</span>
        </div>
    </div>
</div>